html body {
    background-color:#f8f8f8;
    margin:0 auto;
    padding:0;}
/* вычитал что у каждого верстальщика как правило хорошего тона есть файл обнуления отступов,
  уточнить у тренера так ли это и как лучше его подбирать*/
.container  {
    width: 1500px;
    height: 2282px;
    background-color: beige;
    margin:0 ;
    padding:0;
    font-family: 'Russo One', sans-serif;


}

.header {

    color: white;
    width: 1500px;
    height: 700px;
}
.content {
    background-color:beige;
    color: black;
    width: 1173px;
    height: 2283px;
    margin: auto;




}
.wrapper {
    width: 1170px;

    margin-left: auto;
    margin-right: auto;
    height: 697px;
}


.footer {
    font-family: 'Russo One', sans-serif;
    background-color: black;
    color: azure;
    height: auto;
    width: 1500px;
    margin: auto;
    opacity: .9;
}
.footer>div {
    width: 150px;
    height: 50px;
}
.logo {
    margin-top: 0px;
    display: inline-block;
    float: left;

}
.logosign{
    display: inline-block;
    width: 300px;
    margin-top: 83px;
    margin-left: 20px;



}
.sociallinks {
    display: inline-block;
    width: 218px;
    height: 40px;
    float: right;

    margin-top: 48px  ;



}
.social {
    margin-right: -4px;
    display: inline-block;
    text-decoration: none;
    vertical-align: bottom;
    background:  url("social.png") no-repeat;
    margin-left: 10px;
}
body > div.header > div > div.sociallinks > a.social.social-fb{
    width: 16px;
    height: 16px;
    background-position: -7px -7px;
}
body > div.header > div > div.sociallinks > a.social.social-ins{
    width: 16px;
    height: 16px;
    background-position: -29px -7px;
}
body > div.header > div > div.sociallinks > a.social.social-pn{
    width: 16px;
    height: 16px;
    background-position: -59px -7px;
    margin-left: 13px;

}
body > div.header > div > div.sociallinks > a.social.social-tw{
    width: 16px;
    height: 16px;
    background-position: -87px -7px;

}
body > div.header > div > div.sociallinks > a.social.social-yout{
    width: 16px;
    height: 16px;
    background-position: -117px -7px;

}
body > div.header > div > div.sociallinks > a:hover {
    background-color: red;
    opacity: .5;
    border-radius: 3px;
}

.welcome {
    margin-top: 336px;
    display: inline-block;
    width:271px;
    height: 300px;
    background-color: darkred;
    margin-left: -250px;
    float: left;
    opacity:0.9;
}
.welcome>span {
    display: inline-block;
    font-family: 'Raleway', sans-serif ;
    font-size: 30px;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 82px;
    text-align: left;
    line-height: 1;
    margin-bottom: 23px;
}
.welcome>span:nth-child(2){
    font-family: 'Raleway', sans-serif ;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0px;
    width: 225px;
    line-height: 0.9;


}
.shopinfo {
    margin-top: 127px;
    float: right;
    display: inline-block;
    width: 335px;
    height: 182px;
    margin-right: 265px;
}
.shopinfo>span {
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Raleway', sans-serif ;
    font-size: 48px;
    text-align: left;
    line-height: 0.8;
    margin-bottom: 0px;


}
.shopinfo>span:nth-child(2) {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    text-transform: none;

}
.mainbuybutton {
    display: inline-block;
    width: 124px;
    height: 48px;
    background-color: darkred;
    float: right;
    margin-top: 357px;
    margin-right: -124px;
    opacity:0.9;

}
.mainbuybutton>span
{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin-left: 29px;
    margin-top: 16px;

}
.mainbuybutton:hover {
    background-color: red;
}

.menu {
    position: relative;
    height: 65px;
    width: 270px;
    background-color: white;
    top: -17px;
    display: inline-block;



}
.nav {
    width: 271px;
    height: 65px;

.snav {
    width: 271px ;
    height: 65px;

}
}
.nav>a{
    display: inline-block;
    width: 233px;
    height:22px;
    text-decoration: none;
    color: white;
    background-color: #161717;
    padding-left: 38px;
    padding-top: 21px;
    padding-bottom: 23px;
}
.snav>a{
    display: inline-block;
    width: 233px;
    height:17px;
    text-decoration: none;
    color: white;
    background-color: #161717;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 15px;
}

body > div > div.content > div.menu > ul > li > a > img {
    margin-left: 25px;
    margin-bottom: -5px;
}
.nav .subnav {
    display: none;
    position: relative;


}
.nav .subnav a {
    background-color: black;
    color: white;
}

.nav .subnav a:hover {
    background-color: #161717 ;
    color: red;
}
.nav:hover .subnav {
    display: block;
}
.nav>a:hover  {
    color: red;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
.news {
    position: relative;
    top: -17px;
    background-color:beige ;
    width: 866px;
    height: auto;
    float: right;
    margin-right: 129px;
    color: #161717;
}
body > div.container > div > div.news
{width: 865px;}
.news>h2 {
    height: 65px;
    margin: 0;
    margin-top: 30px;
    text-transform: uppercase;
    margin-left: 25px;
}
.news, .contacts {
    float: right;

    width: 870px;
    height: 1624px;

    margin-right: 0px;

}
.newsblock {
    width: 270px;
    height: 318px;
    display: inline-block;
    margin-right: 22px;
    background-color: #161717;
    margin-bottom: 30px;

}
.newsblock:hover {
    background-color: darkred;
    box-shadow: 0 0 10px black;
}
.newsblock>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 250px;
    height: 253px;
    margin-top: 11px;
    margin-left: 10px;
}
body > div > div.content > div.news > div:nth-child(4),
body > div > div.content > div.news > div:nth-child(7),
body > div > div.content > div.news > div:nth-child(11),
body > div > div.content > div.news > div:nth-child(15){
    margin-right: 0;
}

.nowisopen {
    display: inline-block;
    width: 270px;
    height: 300px;
    background-color: #161717;
    color: darkred;
    margin-top: 485px;
}
.nowisopen>span{
    display: inline-block;
    width:111px ;
    color: white;
    margin-top: 124px;
    margin-left: 142px;
    text-transform: uppercase;
    font-size:  40px;
    line-height: 0.9;
}


.down   {
    display: inline-block;
    width: 1166px;;
    height: 660px;

}
.down>a {
    display: inline-block;
    width: 145px;
    height: 159px;
    text-decoration: none;
    color: #161717 ;
    text-align: center;


}
.down>a>span {
    display: inline-block;
    margin-top: 65px;
    font-size: large;
}
body > div > div.content > div.down > a:nth-child(8){
    width: 150px;
}
.down>a:hover{
    background-color:#161717 ;
    color: red;
}
.instagram {
    background-color: beige;
}
.instagram>div {
    display: inline-block;
    width: 183px;
    height: 184px;
    margin-right: 6px;
    background-color:white ;
}
.instagram>div>a{
    display: inline-block;
    width: 170px;
    height: 170px;
    margin-right: 0px;
    margin-top: 6px;
    margin-left: 6px;
}
.instagram>div>a>img:hover{
    width: 171px;
    height: 170px;

}
.instagram>div:hover     {
    box-shadow: 0 0 10px black;
}
.instagram>span {
    display: inline-block;
    width: 757px;
    height: 55px;
    font-size: 28px;
    font-style: italic;
    background-color: darkred ;
    color: #161717;
    padding-left: 408px;
    padding-top: 50px;
}
.instagram>span:hover   {
    background-color:red;
    color: black;
}
body > div > div.content > div.down > div > div:nth-child(7){
    margin-right: 0;

}
body > div.container > div > div.down > div.instagram > div:nth-child(2){
    margin-left: 6px;
}
.mainsocial{
    height: 210px;
    background-color: beige;
}
.mainsocial>a {
    display: inline-block;
    width: 388px;
    height: 150px;
    margin-top: 60px;
}
body > div > div.content > div.down > div.mainsocial > a.mainsocial-pin {
    width: 388px;
    background: #cb2027 url("pint.png") no-repeat;
    background-position: center;
}
body > div > div.content > div.down > div.mainsocial > a.mainsocial-ffb {

    background: #3b5997 url("fbicon.png") no-repeat;
    background-position: center;
}
body > div > div.content > div.down > div.mainsocial > a.mainsocial-tw {

    width: 389px;
    background:  #3fccfd url("tw.png") no-repeat;
    background-position: center;
}

body > div > div.content > div.down > div.mainsocial > a.mainsocial-pin:hover{
    background-color: #e82424;
}

body > div > div.content > div.down > div.mainsocial > a.mainsocial-ffb:hover {
    background-color: #0042ca;
}

body > div > div.content > div.down > div.mainsocial > a.mainsocial-tw:hover {
    background-color: #06baf9;
}

.footer>div {
    width: 180px;
    height: auto;
    display: inline-block;
    font-size: 19px;
    margin-top: 80px; }
body > div.footer > div:nth-child(4){
    width: 250px;
    margin-left: 50px;
    margin-right: 50px;
}

body > div.footer > div:nth-child(4) > div > p{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
body > div.footer > div:nth-child(4) > div > form > ul
{list-style: none;
    padding: 0;}
body > div.footer > div:nth-child(4) > div > form > ul>li {
    display: inline-block;
}
body > div.footer > div:nth-child(4) > div > form > ul>li>a {
    display: inline-block;
    width: 36px;
    height: 22px;
    margin-right: 8px;
    background-image: url("visa.png");
    background-repeat: no-repeat;
}
body > div.footer > div:nth-child(4) > div > form > ul > li:nth-child(1) > a
{
    width: 36px;
    height: 22px;
    background-position: -257px -7px;
}
body > div.footer > div:nth-child(4) > div > form > ul > li:nth-child(2) > a
{
    width: 36px;
    height: 22px;
    background-position: -57px -7px;
}
body > div.footer > div:nth-child(4) > div > form > ul > li:nth-child(3) > a{
    width: 36px;
    height: 22px;
    background-position: -107px -7px;
}
body > div.footer > div:nth-child(4) > div > form > ul > li:nth-child(4) > a{
    width: 36px;
    height: 22px;
    background-position: -157px -7px;
}
body > div.footer > div:nth-child(4) > div > form > ul > li:nth-child(5) > a{
    width: 36px;
    height: 22px;
    background-position: -207px -7px;
    margin-right: 0;
}
body > div.footer > div:nth-child(4) > div > form > input[type="text"]{
    background-color: red;
    border: none;
    height: 20px;
    padding:0;


}
body > div.footer > div:nth-child(4) > div > form > input[type="text"]:hover {
    background-color: white;
}
body > div.footer > div:nth-child(4) > div > form > input[type="text"]:hover > button{
    background-color:red;
}

body > div.footer > div:nth-child(4) > div > form > button{
    background-color: white;
    color: black;
    font-family: 'Russo One', sans-serif;
    border: none ;
    height: 20px;
    padding-bottom: 0;


}
body > div.footer > div:nth-child(4) > div > form > button:hover{
    color:red;
    background-color: black;
}
.footer>div>ul>li>a {
    text-decoration: none;
    color: white;


}
.footer>div>ul>li>a:hover {
    color: red;
}
body > div.footer > div> ul{
    list-style: none;
    padding: 0;
}
body > div.footer > div:nth-child(1){
    margin-left: 180px;
}
body > div.footer > div:nth-child(5) > p:nth-child(1){
    margin: 0;
    margin-bottom: 40px;
}
.catalog {
    float: right;

    width: 649px;
    height: 500px;

    margin-right: 118px;
}
.catalogblock {
    width: 201px;
    height: 155px;
    display: inline-block;
    margin-left:2px;
    margin-right: 2px;
    margin-top: 5px;

}
//* стили для каталога*//


body > div.container > div > div.nowisopen > span
{
    margin: 0;
    margin-top: -20;
    margin-left: -40;
}
body > div.container > div > div.news > .ncatalog
{
    width: 860px;
    height: 400px;
}